<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/ghchema/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="ghchema" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
